
<section layout="row" flex="100" layout-align="start" class="header-tray">
  <div flex="100" class="asset-carousel grid">
    <ul class="asset-list" *ngIf="(activeCollection.data | async).assets">
      <li *ngFor="let asset of (activeCollection.data | async).assets.items">
        <div class="asset">
          <a *ngIf="asset?.assetId" flex="" [routerLink]="['/asset/', asset.assetId]" class="asset-thb">
            <img *ngIf="asset.thumbnail" src="{{asset.thumbnail.urls.https}}"/>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div layout="row" flex="auto" layout-align="end center" class="focused-collection">
    <nav class="focused" *ngIf="(activeCollection.data | async).name" (click)="list.show($event)">
      <button md-button class="is-dd">{{(activeCollection.data | async).name}}</button>
      <button md-button class="asset-count">
        <span class="count" *ngIf="(activeCollection.data | async).assets">{{(activeCollection.data | async).assetsCount}}</span>
        <span class="count" *ngIf="!(activeCollection.data | async).assets">0</span>
      </button>
    </nav>
    <button md-icon-button flex="none" title="more collection options" [md-menu-trigger-for]="moreCollectionTrayOptions"><md-icon>more_vert</md-icon></button>
    
    <md-menu x-position="before" #moreCollectionTrayOptions="mdMenu">
      <button md-menu-item (click)="createCollection.show()">
        <md-icon>add_circle_outline</md-icon>{{ 'COLLECTION.MORE_DD_MENU.CREATE_NEW' | translate }}
      </button>
      <button md-menu-item (click)="list.show($event)">
        <md-icon>folder_special</md-icon>{{ 'COLLECTION.MORE_DD_MENU.CHANGE_SELECTED' | translate }}
      </button>
      <a md-menu-item *ngIf="(activeCollection.data | async).id" [routerLink]="['/collection/', (activeCollection.data | async).id, {i: 1, n: pageSize}]">
        <md-icon>open_in_browser</md-icon>{{ 'COLLECTION.MORE_DD_MENU.OPEN_SELECTED' | translate }}
      </a>
      <button md-menu-item (click)="copyLegacyLinkDialog.show()">
        <md-icon>link</md-icon>{{ 'COLLECTION.MORE_DD_MENU.COPY_LEGACY_LINK' | translate }}
      </button>
      <a md-menu-item [routerLink]="['/collections/']">
        <md-icon>folder_open</md-icon>{{ 'COLLECTION.MORE_DD_MENU.VIEW_ALL' | translate }}
      </a>
    </md-menu>
  </div>
</section>

<wz-dropdown #list>
  <collections-list-dd
    [uiState]="uiState"
    [focusedCollection]="activeCollection.data | async"
    [config]="(uiConfig.get('collection') | async).config"
    (close)="list.close()"
    layout="row" layout-align="end start" class="revealed">
  </collections-list-dd>
</wz-dropdown>

<wz-dialog #copyLegacyLinkDialog>
  <collection-link-component
    [assets]="(activeCollection.data | async).assets.items"
    [dialog]="copyLegacyLinkDialog">
  </collection-link-component>
</wz-dialog>

<wz-dialog #createCollection [clickCatcher]="false">
  <collection-form
    [fields]="(uiConfig.get('collection') | async).config"
    [dialog]="createCollection"
    [ngClass]="{'revealed': (uiState.data | async).newCollectionFormIsOpen}"
    layout="row" layout-align="center start">
  </collection-form>
</wz-dialog>
