.pagination {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-end);
  @include align-items(center);
  min-height: rem(3.4);
  max-height: rem(3.4);
  opacity: .75;
  width: 100%;
  white-space: nowrap;
  @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
    &.md-body-2 {
      font-size: .76em;
      font-weight: normal;
    }
  }  
}
wz-pagination {
  display: block;
  margin-right: rem(-.6);
  margin-top: rem(.3);
  .divider {
    display: none;
    width: rem(.2);
    height: rem(2.4);
    margin-right: rem(.2);
    box-shadow: -1px 0 0 0 rgba(md-color($md-foreground, divider), 1) inset, 1px 0 0 0 rgba(md-color($md-background, background),.7);
  }
  span.current-page {
    margin-right: rem(2);
  }
  button[md-icon-button] {
    margin: 0;
    line-height: 1;
    padding: rem(.5);
    @include transition(all .4s ease-in-out);
    md-icon.material-icons {
      font-size: rem(3.1);
      height: 100%;
      width: 100%;
      opacity: .75;
    }
    &:hover {
      opacity: 1;
      background-color: rgba(md-color($md-foreground, base), .08);
    }
    &[disabled]:hover {
      background-color: transparent;
    }
  }
}
.results-count {
  min-height: rem(3.4);
  max-height: rem(3.4);
  line-height: rem(3.4);
  padding-right: rem(2.4);
}  

app .app {
  wz-pagination:last-child {
    margin-top: 0;
    margin-bottom: rem(.6);
  }
}
