<md-card *ngIf="_options.length > 0">
  <button (click)="close.emit()" md-icon-button title="close dialog" type="button" class="close"><md-icon>close</md-icon></button>
  <div layout="row" layout-align="center center">
    <md-card-title>{{ 'PRICING.CALCULATE_HEADING' | translate }}</md-card-title>
  </div>
  <md-card-actions>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <span *ngFor="let option of _options; let i = index" class="input">
        <div layout="row" layout-align="center center">
          <md-select placeholder="{{option.name}}" [disabled]="parentIsEmpty(option)" [(ngModel)]="form[option.name]" name="{{option.name}}">
            <md-option *ngFor="let o of validOptionsFor(option)" [value]="o.value">{{o.name}}</md-option>
          </md-select>
        </div>
        <br>
      </span>
      <div class="submit-btn" layout="row" layout-align="center center">
        <button [disabled]="formIsInvalid" class="submit" md-raised-button color="primary" type="submit">{{ 'PRICING.CALCULATE_BTN_LABEL' | translate }}</button>
      </div>
    </form>
  </md-card-actions>
</md-card>