<div class="collections-dd-menu">
  <header>
    <div flex="100" layout="row">
        <div class="tools" flex="auto" layout-align="start center">
          <button md-icon-button title="{{ 'ASSET.SHARING.SHARE_LINK.PREVIOUS_HOVER_TITLE' | translate }}" (click)="close.emit()"><md-icon>arrow_back</md-icon></button>
        </div>
        <h4 class="md-headline" flex="100" layout-align="start center">
          {{ 'ASSET.SHARING.SHARE_LINK.HEADING' | translate }}
        </h4>
        <div class="tools" flex="auto" layout-align="end center">
          <button md-icon-button title="{{ 'ASSET.SHARING.SHARE_LINK.CLOSE_HOVER_TITLE' | translate }}" (click)="close.emit()"><md-icon>close</md-icon></button>
        </div>
      </div>
  </header>
  <section class="dd-menu-wrapper">
    <div class="link" flex="100" layout="row">
      <input 
        id="shareLink"
        class="link-input"
        flex="100"
        layout-align="start center"
        value="{{ assetLink }}"
        (click)="selectInputForCopy($event)" />
      <button 
        flex="auto"
        layout-align="end center"
        class="clipboard-copy"
        wzClipboard
        md-icon-button
        data-clipboard-target="#shareLink"
        title="{{ 'ASSET.SHARING.SHARE_LINK.COPY_BTN_TITLE' | translate }}" 
        (click)="copiedConfirmedToast.show()">
        <md-icon>content_copy</md-icon>
      </button>
    </div>
  </section>
</div>
<div class="wz-dd-click-catcher" (click)="close.emit()"></div>


<wz-toast #copiedConfirmedToast>
  <div class="toast" layout="row" layout-align="center center">
    <div flex-xs="100" md-elevation-z2>{{ 'ASSET.SHARING.SHARE_LINK.COPIED_CONFIRMED_MESSAGE' | translate }}</div>
  </div>
</wz-toast>