<div class="collections-dd-menu">
  <div class="dd-menu-wrapper">
    <header>
      <asset-share-link
        *ngIf="assetLinkIsShowing"
        flex="100"
        [uiState]="Uistate"
        [assetLink]="assetShareLink"
        (close)="showShareLink()">
      </asset-share-link>
      <div flex="100" layout="row">
        <h4 class="md-headline" flex="100" layout-align="start center">
          {{ 'ASSET.SHARING.DIALOG_HEADER_TITLE' | translate }}
        </h4>
        <div class="tools" flex="auto" layout-align="end center">
          <button md-icon-button title="{{ 'ASSET.SHARING.SHARE_LINK_BTN_TITLE' | translate }}" (click)="showShareLink(assetId)"><md-icon>link</md-icon></button>
        </div>
      </div>
    </header>
    
    <div class="form-panel" layout="column">
      <div flex="none">
        <div class="asset-thb">
          <img *ngIf="assetThumbnailUrl" src="{{assetThumbnailUrl}}" />
        </div>
        <span class="asset-name md-caption">{{assetName}}</span>
      </div>
      <div class="wz-form-card">
        <md-card-content>
          <wz-form 
            [items]="config.form.items"
            includeCancel="true"
            cancelLabel="ASSET.SHARING.FORM.CANCEL_BTN_LABEL"
            submitLabel="ASSET.SHARING.FORM.SUBMIT_BTN_LABEL"
            (formCancel)="success()"
            (formSubmit)="createShareLink($event,assetId)">
          </wz-form>
        </md-card-content>
      </div>
    </div>
  </div>
</div>

<wz-toast #shareEmailConfirmedToast>
  <div class="toast" layout="row" layout-align="center center">
    <div flex-xs="100" md-elevation-z2>{{ 'ASSET.SHARING.SHARED_CONFIRMED_MESSAGE' | translate }}</div>
  </div>
</wz-toast>