<section class="data-bk">
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-xl="75" flex-gt-lg="85" flex-gt-md="95" flex="100" layout="row" layout-wrap="" layout-align="center start">
      <md-tab-group>
        <md-tab *ngFor='let key of secondaryKeys' label="translationReady(secondaryMdata[key].name) | uppercase | translate ">
          <template md-tab-label>{{translationReady(secondaryMdata[key].name) | uppercase | translate }}</template>
          <div class="m-data" *ngFor='let sData of secondaryMdata[key].data; let i=index'>
            <div class="row" *ngFor='let m of sData.section'>
              <div class="cell">
                <h5 class="md-subhead">{{translationReady(m.name) | uppercase | translate }}</h5>
              </div>
              <div class="cell">
                <p class="md-body-1">{{m.value}}</p>
              </div>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</section>
