
section.preview-bk {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-top: rem(1.8);
  padding-bottom: rem(7.4);
  // @media screen and (max-width: $layout-breakpoint-md)  {
  //   padding-top: rem(2);    
  //   padding-bottom: rem(4);
  // }
  &.theater {
    height: 100%;
    @include md-elevation(2);
    @include text-contrast(md-color($foreground, base));
    @include background-image(
      linear-gradient(md-color($foreground, base, .57), md-color($foreground, base, .56)),
      linear-gradient(md-color($primary, 900, .07), md-color($primary, 700, .07)),
      linear-gradient(md-color($foreground, base, .57), md-color($foreground, base, .56))
    );
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      @include background-image(
        url("../assets/img/bk/tex/bktx_dgl_lines_light.png")
      );
      opacity: .3;
      z-index: 0;
    }
    & > div > div {
      z-index: 1;
      @media screen and (max-width: $layout-breakpoint-sm)  {
        margin-right: rem(1.6);    
        margin-left: rem(1.6);    
      }
    }
    & > div:first-child > div {
      z-index: 2;
    }
  }
  .preview {
    position: relative;
    height: 100%;
    width: 100%;
    
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(md-color($md-grey, 50), 1);
      @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
    }
  }
  .toolbar-actions {
    display: flex;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    md-menu {
      z-index: 8;
    }
    nav.asset-options {
      display: flex;
      button[md-icon-button] {
        @include text-contrast(md-color($foreground, base));
        margin-left: rem(.6);
        &:disabled {
          md-icon {
            color: rgba(md-color($background, background),.2);
          }
        }
      }
    }
  }
  div.primary-info {
    @include text-contrast(md-color($foreground, base));
    box-shadow: none;
    background-color: rgba(md-color($foreground, base), .05);
    padding:rem(1.6);
    position: relative;
    height: 100%;
    @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
      padding: 0;
      background-color: transparent;
      min-height: rem(33.5);
    }
    div.primary-content {
      .title-txt {
        margin-top: 0;
        margin-bottom: rem(1.2);
        font-size: 1.2em;
        opacity: .5;
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          margin-top: rem(1.2);
          font-size: 1.1em;
          opacity: .65;
        }
      }
      .description-txt {
        height: rem(12.1);
        overflow-y: scroll;
        margin-top: 0;
        margin-bottom: 0;
        font-size: .95em;
        line-height: 1.4;
        opacity: .9;
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) {
          height: auto;
          font-size: .9em;
          margin-top: rem(.4);
          margin-bottom: rem(16.0);
        }
      }
      .pricing {
        position: absolute;
        bottom: rem(12.2);
        right: rem(12.2);
        font-size: 1.7em;
        font-weight: 400;
        line-height: 1;
      }
      .price {
        position: absolute;
        bottom: rem(12.2);
        right: rem(3.7);
        font-size: 1.7em;
        font-weight: 400;
        line-height: 1;
        &::first-letter {
          font-size: .7em;
          font-weight: 200;
          vertical-align: top;
        }
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          bottom: rem(9.0);
          right: 0;
        } 
      }
      .contact-us-pricing {
        @include calc(width, "100% - 32px");
        bottom: rem(13.5);
        color: rgba(md-color($accent, 500), .75);
        display: block;
        font-size: 1.12em;
        font-weight: 200;
        line-height: 1.1;
        margin-left: rem(1.6);
        margin-right: rem(1.6);
        position: absolute;
        right: 0;
        text-align: center;
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          right: 0;
        } 
      }
      md-card-actions {
        wz-select {
          width: 100%;
          div.wz-select-menu-trigger {
            box-shadow: inset -2px -2px 0px 0px md-color($md-grey, 900);
            background-color: rgba(md-color($md-grey, 700), .5);
            @include text-contrast(md-color($md-grey, 700));
            span.select-icon {
              @include text-contrast(md-color($md-grey, 700));
            }
          }
        }
        @include calc(width, "100% - 42px");
        margin: 0;
        padding-left: rem(1.6); 
        padding-right: rem(.8); 
        position: absolute;
        bottom: rem(1.6);
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          padding-left: 0; 
          padding-right: 0;
          bottom: rem(-2.0);
          // position: static;
          width: 100%;
        }
        button {
          width: 100%;
          margin-bottom: rem(1.0);
          text-transform: uppercase;
          &.md-primary.md-hue-7 {
            background-color: scale-color(md-color($primary, default), $lightness: -10%, $alpha: -35%);
            &:hover {
              background-color: scale-color(md-color($primary, default), $lightness: 0%, $alpha: -25%);
            }
          }
          &.is-outlined {
            color: scale-color(md-color($md-grey, 50), $lightness: 0%, $alpha: -15%);
            border-color: scale-color(md-color($md-grey, 50), $lightness: 0%, $alpha: -40%);
          }
        }
      }
    }
  }
}

.responsive-video {
  background-color:  transparent;
  position: relative;
	height: auto;
  .photo-container {
    @include background-image(
      linear-gradient(md-color($foreground, base, .17), md-color($foreground, base, .16))
    );
    text-align: center;
    img {
      max-height: rem(63.5);
      min-height: rem(38.0);
      max-width: 100%;
      vertical-align: middle;
      @media screen and (max-width: $layout-breakpoint-md)  {
        max-height: rem(50.5);
        min-height: rem(23.0);
      }
      @media screen and (max-width: $layout-breakpoint-sm)  {
        max-height: rem(47.5);
        min-height: rem(23.0);
      }
    }
  }
}
div.primary-info-t {
  height: rem(4.8);
  @include text-contrast(md-color($foreground, base));
  div.primary-content-t {
    .back-to-search {
      margin-right: rem(.2);
      margin-left: rem(-.5);
    }
    .asset-name {
      margin-bottom: rem(.4);
      opacity: .5;
    }
    .sd-hd {
      height: rem(2);
      width: rem(2.8);
      border-radius: rem(.3);
      border-width: 1px;
      border-style: solid;
      border-color: rgba(md-color($background, app-bar), .4);
      background-color: rgba(md-color($foreground, base), .3);
      position: relative;
      &::before {
        content: "HD";
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        opacity: 0.8;
        font-size: .94em;
        font-weight: bold;
      }
    }
    .sd-hd.sd {
      width: rem(2.7);
      height: rem(1.8);
      border-radius: 50%;
      border-color: rgba(md-color($foreground, base), 0);
      background-color: rgba(md-color($background, card), .5);
      &::before {
        content: "SD";
        color: md-color($foreground, text);
        opacity: 0.9;
      }
    }
    .rights {
      padding-left: rem(.8);
      padding-top: rem(.4);
      text-transform: uppercase;
    }
    .image.photo {
      position: relative;
      height: rem(2.0);
      width: rem(3.0);
      color: transparent;
      &::before {
        content: "\e412";
        font-family: 'Material Icons';
        color: rgba(md-color($md-grey, 100),0.4);
        position: absolute;
        top: rem(-.8);
        left: rem(.1);
        font-size: 1.85em;
      }
    }
  }
}


asset-share .form-panel {
  padding: rem(1.6);
  & > div[flex] {
    width: 33%;
    max-width: 33%;
  }
  wz-form form {
    margin-top: rem(2.2);
    margin-left: rem(1.2);
    margin-right: rem(1.2);
    md-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
    }
  }
  .asset-thb {
    display: block;
    height: 0;
    width: 100%;
    position: relative;
    padding: 56.25% 0 0 0; 
    img {
      position: absolute;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    } 
  } 
}
asset-share-link .link {
  padding-top: rem(4);
  padding-right: rem(.4);
  padding-bottom: rem(4.6);
  padding-left: rem(2.4);
  white-space: nowrap;
  text-align: right;
  max-width: rem(40.0);
  // max-width: 100%;
  .link-input {
    overflow: hidden;
    margin-right: rem(.4);
    width: calc(100% - 44px);
    max-width: calc(100% - 44px);
    border: 1px solid rgba(md-color($foreground, base), .8);
    padding-top: rem(1.3);
    padding-right: rem(.5);
    padding-bottom: rem(1.3);
    padding-left: rem(.5);
    font-size: .9em;
    color: rgba(md-color($primary, default),.75);
    &:focus, &:active {
      outline: none;
      border-color: rgba(md-color($primary, default), .9);
    }
    &::selection {
      background: rgba(md-color($accent, default), .25);
      color: md-color($primary, darker);
    }
  }
  button {
    // @include transition($swift-ease-out);
    &:hover {
      color: md-color($primary);
    }
  }
}

div.wz-dialog {
  wz-pricing md-card {
    padding: 0;
    width: 32vw;
    md-card-actions form {
      margin: 0 rem(2.8);
      span.input {
        margin: 0 rem(1);
        label {
          color: md-color($md-grey, 700);
        }
        select {
          border: none;
          height: rem(4);
          margin: rem(.25) 0;
          width: 95%;
          background-color: rgba(md-color($md-grey, 300), .5);
          &:disabled {
            background-color: rgba(md-color($md-grey, 100), .5);
          }
        }
      }
      div.submit-btn {
        button.submit {
          width: 70%;
          margin: rem(2) 0;
        }
      }
    }
  } 
}