section.cart-asset {
  div.cart-asset-thb {
    span.asset-id {
      position: absolute;
      bottom: 3px;
      right: 3px;
      z-index: 2;
      background-color: rgba(md-color($md-foreground, base), .3);
      .id {
        padding: rem(.3);
        @include text-contrast(md-color($md-foreground, base));
        opacity: .7;
      }
    }
    margin: rem(1);
    display: block;
    height: 0;
    padding: 56.25% 0 0 0;
    position: relative;
    background: #000;
    img {
      position: absolute;
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  div.cart-asset-metadata {
    margin: rem(1);
    table {
      min-width: 100%;
      height: 100%;
      border: 1px solid md-color($md-grey, 300);
      border-collapse: collapse;
      th {
        width: 30%;
        text-align: right;
        border-bottom: 1px solid md-color($md-grey, 300);
        border-right: 1px solid md-color($md-grey, 300);
        padding: rem(.4) rem(.6);
        background-color: rgba(md-color($md-grey, 300), .4);
        @include text-contrast(md-color($md-grey, 100));
      }
      td {
        width: 70%;
        padding: rem(.4) rem(.6);
        border-bottom: 1px solid md-color($md-grey, 300);
        background-color: rgba(md-color($md-grey, 300), .2);
        @include text-contrast(md-color($md-grey, 100));
      }
    }
  }
}
