<div *ngFor="let project of projects">
	<section class="project" layout="row" layout-align="center center">
		<div class="project-info" flex-gt-xl="95" flex-gt-md="90" flex-gt-xs="100">

			<ul layout="row">
				<li flex-gt-md="25"><strong>{{ 'CART.PROJECTS.PROJECT_NAME' | translate }}</strong> {{ project.name }}</li>
				<li flex-gt-md="25"><strong>{{ 'CART.PROJECTS.CLIENT_NAME' | translate }}</strong> {{ project.clientName }}</li>
				<li flex-gt-md="25"><strong>{{ 'CART.PROJECTS.DELIVERY_FORMAT' | translate }}</strong> Native Format</li>
				<li flex-gt-md="25" *ngIf="readOnly">
					<!--Does the translate pipe support singular vs. plural?-->
					<span *ngIf="lineItemCountFor(project) == 0">No Assets</span>
					<span *ngIf="lineItemCountFor(project) == 1">1 Asset</span>
					<span *ngIf="lineItemCountFor(project) > 1">{{ lineItemCountFor(project) }} Assets</span>
				</li>
				<li flex-gt-md="25">
					<span><strong>{{ 'CART.PROJECTS.PROJECT_SUBTOTAL' | translate:{projectName: project.name} }}</strong> {{ project.subtotal | currency:'USD':true:'1.2-2' }}</span>
					<button *ngIf="!readOnly" md-icon-button [md-menu-trigger-for]="projectOptionsMenu" (click)="selectProject(project)"><md-icon>more_vert</md-icon></button>
					<button *ngIf="!readOnly" (click)="editProjectDialog.show();selectProject(project);" md-icon-button type="button"><md-icon>edit</md-icon></button>
				</li>
			</ul>
		</div>
	</section>

	<line-items-component *ngIf="!readOnly" [lineItems]="project.lineItems" [otherProjects]="projectsOtherThan(project)" (lineItemsNotify)="delegate($event)"></line-items-component>
</div>

<!--MOVE THESE TO THE CART TEMPLATE AND PASS DATA UP-->

<wz-dialog #editProjectDialog layout="row" layout-align="center center">
	<div flex-gt-lg="100" flex-gt-md="100" flex-gt-sm="100" flex="100">
		<md-card class="wz-form-card md-elevation-z20">
			<button (click)="editProjectDialog.close()" md-icon-button title="close dialog" type="button" class="close"><md-icon>close</md-icon></button>
			<md-card-title>
				{{ 'CART.PROJECTS.FORM.TITLE' | translate }}
			</md-card-title>
			<md-card-content>
				<wz-form *ngIf="!readOnly" [items]="config.form.items" submitLabel="{{ 'CART.PROJECTS.FORM.SUBMIT_LABEL' | translate }}"
					(formSubmit)="edit(selectedProject, $event); editProjectDialog.close()"></wz-form>
			</md-card-content>
		</md-card>
	</div>
</wz-dialog>

<md-menu x-position="before" #projectOptionsMenu="mdMenu">
	<button md-menu-item (click)="remove(selectedProject)"><md-icon>close</md-icon>{{ 'CART.PROJECTS.REMOVE_PROJECT' | translate }}</button>
	<button disabled md-menu-item><md-icon>add</md-icon>{{ 'CART.PROJECTS.ADD_PACKAGE' | translate }}</button>
	<button disabled md-menu-item><md-icon>add</md-icon>{{ 'CART.PROJECTS.ADD_FEE' | translate }}</button>
	<button disabled md-menu-item><md-icon>add</md-icon>{{ 'CART.PROJECTS.ADD_CLIP' | translate }}</button>
	<button disabled md-menu-item><md-icon>add</md-icon>{{ 'CART.PROJECTS.ADD_CLIPS' | translate }}</button>
	<button disabled md-menu-item><md-icon>edit</md-icon>{{ 'CART.PROJECTS.EDIT_PRICE' | translate }}</button>
</md-menu>


<div *ngIf="!readOnly" flex="95" layout="row" layout-align="end center" class="add-project-button">
	<button md-raised-button="" (click)="addProject()">{{ 'CART.PROJECTS.ADD_PROJECT_BTN' | translate }}</button>
</div>