section.order-component {
  div.order-summary {
    color: md-color($md-primary, default);
    box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
    header {
      padding: rem(2) rem(1);
      .md-display-1 {
        margin: 0;
        font-size: rem(2);
      }
    }
  }
  div.order-projects {
    div.order-project-header {
      background-color: md-color($md-primary, default);
      @include md-elevation(2);
      color: md-color($md-primary, default-contrast);
      span {
        margin: rem(.5) 0;
      }
      padding: rem(1);
    }
    div.project-line-items {
      margin-top: rem(2);
      margin-bottom: rem(2);
      div.project-line-item {
        margin-bottom: rem(1);
        color: md-color($md-grey, 700);
        background-color: #fff;
        div.order-asset-thb {
          @media screen and (max-width: $layout-breakpoint-md)  {
            padding: 25% 0;
            margin: rem(.5);
          }
          margin: rem(.5) 0 rem(.5) rem(1.5);
          display: block;
          height: 0;
          padding: 5% 8%;
          position: relative;
          img {
            position: absolute;
            display: block;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
        div.order-asset-details {
          span {
            padding: 0 rem(2);
          }
        }
        div.order-asset-metadata {
          margin: rem(1) rem(1.5);
          table {
            min-width: 100%;
            height: 100%;
            border: 1px solid md-color($md-grey, 300);
            border-collapse: collapse;
            th {
              width: 30%;
              text-align: right;
              border-bottom: 1px solid md-color($md-grey, 300);
              border-right: 1px solid md-color($md-grey, 300);
              padding: rem(.4) rem(.6);
              background-color: rgba(md-color($md-grey, 300), .4);
              color: md-color($md-grey, 700);
            }
            td {
              width: 70%;
              padding: rem(.4) rem(.6);
              border-bottom: 1px solid md-color($md-grey, 300);
              background-color: rgba(md-color($md-grey, 300), .2);
              color: md-color($md-grey, 700);
            }
          }
        }
      }
    }
  }
}
