.config-title {
  form, select {
    width: 50%;
  }
}
.menu {
  padding-right: 0 !important;
  margin-bottom: 3rem;
}
.second-menu, .third-menu {
  &.show {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    animation-name: move;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
  }
}
.admin-ui-config {
  md-list {
    background-color: #fff;
    md-list-item {
      .icons i {
        font-size: 1.2rem;;
        padding: 0 0.5rem 0 0.3rem;
        margin: 0;
        cursor: pointer;
        &.icon {
          font-size: 1rem;
        }
      }
      &.focused {
        color: rgba(50, 50, 50, 0.5);
      }
    }
  }
  .add-item {
    select {
      margin-left: 1rem;
    }
  }
  md-card {
    margin-left: 20%;
    form {
      md-input {
        width: 100%;
      }
      md-card-actions {
        margin-top: 3rem;
        button {
          width: 25%;
        }
      }
    }
  }
}
@keyframes move {
  0% {
    opacity: 0;
    margin-left: -283px;
  }
  100% {
    opacity: 1;
    margin-left: 0rem;
  }
}
