.toast {
  @include animation-name(toasty);
  @include animation-duration(2750ms);
  @include animation-timing-function($md-linear-out-slow-in-timing-function);
  @include animation-iteration-count(1);
  @include animation-fill-mode(backwards);  
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  & > div {
    min-width: rem(28.8);
    height: rem(4.8);
    border-radius: $md-button-border-radius $md-button-border-radius 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    @include text-contrast(md-color($md-grey, 900));
    background-color: scale-color(md-color($md-grey, 900), $lightness: 8%);
    line-height: 1.2;
    padding-top: rem(1.4);
    padding-right: rem(2.4);
    padding-bottom: rem(1.4);
    padding-left: rem(2.4);
    font-size: .875em;
    white-space: nowrap;
  }
  // &.alert {
  //   background: md-color($md-accent);
  // }
  // &.success {
  //   background: md-color($md-green, 500);
  // }
  // &.warn {
  //   background: md-color($md-warn);
  // }
}

@keyframes toasty {
  0% {
    @include transform(translateY(55px));
  }
  10% {
    @include transform(translateY(0));
  }
  90% {
    @include transform(translateY(0));
  }
  100% {
    @include transform(translateY(55px));
  }
}
