<md-card>
  <button md-icon-button title="close" type="button" (click)="dialog.close()" class="close"><md-icon>close</md-icon></button>
  <md-card-title>{{ 'COLLECTION.COPY_LEGACY_LINK' | translate }}</md-card-title>
  <md-card-subtitle>{{ 'COLLECTION.COPY_LEGACY_LINK_DESCRIPTION' | translate }}</md-card-subtitle>
  <section class="dd-menu-wrapper">
    <div class="link-wrapper" flex="100" layout="row">
      <input 
        id="legacyLink"
        class="link-input"
        flex="100"
        layout-align="end center"
        value="{{ legacyLink }}"
        (click)="selectInputForCopy($event)" />
      <button 
        flex="auto"
        layout-align="end center"
        wzClipboard
        class="clipboard-copy"
        md-icon-button
        data-clipboard-target="#legacyLink"
        title="{{ 'COLLECTION.COPY_LEGACY_LINK' | translate }}"
        (click)="copiedConfirmedToast.show()">
        <md-icon>content_copy</md-icon>
      </button>
    </div>
  </section>
</md-card>

<wz-toast #copiedConfirmedToast>
  <div class="toast" layout="row" layout-align="center center">
    <div flex-xs="100" md-elevation-z2>{{ 'COLLECTION.LINK_COPIED_TOAST' | translate }}</div>
  </div>
</wz-toast>