home-component {
  .hero {
    text-align: center;
    // @include text-contrast(md-color($md-primary, 900));
    // color: md-color($primary, 900, contrast);
    color: $white-87-opacity;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto;
    @include background-image(
      linear-gradient( rgba(md-color($foreground, text), .55), rgba(md-color($foreground, text), .45)),
      url($bk-img-home)
    );
    background-position: 0 0, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    margin-bottom: 0;
    min-height: 802px;
    .logo-wrapper {
      height: 250px;
      width: 100%;
      .logo {
        @include background-image(url($logo-home));
        background-position: bottom center;
        background-repeat:no-repeat;
        background-size: 255px;
        height: 255px;
        opacity: .7;
        @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
          background-size: 220px;
        }
      }
    }
  }
  
  // scrolling vendor marquee
  @mixin center-vertically($pseudo-el: 'before') {
      position: relative;

      &:#{$pseudo-el} {
          content: '';
          position: relative;
          height: 100%;
          width: 0;
      }

      &:#{$pseudo-el},
      > * {
          vertical-align: middle;
          display: inline-block;
      }
  }

  @mixin justify($vertical-align: top, $childs: '*') {
      text-align: justify;
      text-justify: distribute-all-lines;
      line-height: 0;
      // clear inline-block spacing
      letter-spacing: -0.31em;

      &:after {
          content: '.';
          display: inline-block;
          height: 0!important;
          width: 100%;
          overflow: hidden!important;
          visibility: hidden;

          font-size: 0;
          word-spacing: 100%;
      }

      > #{unquote($childs)} {
          display: inline-block;
          vertical-align: $vertical-align;
          text-align: left;
          line-height: 1;

          // reset `inline-block spacing` trick
          letter-spacing: 0;
      }
  }


  // MARQUEE

  @include keyframes(loop) {
    0%   {
      @include transform( translateX(0) );
    }
    100% {
      @include transform( translateX(-(33.3% * 2)));
    }
  }


  $height: 183px;

  .vendor-marquee {
    background: md-color($md-grey, 200, .8) url('../assets/img/bk/tex/bktx_contour_lines_light.png');
    position: relative;
    width: 100%;
    overflow: hidden;

    > ul {
      list-style: none;
      position: relative;
      margin: 0;
      z-index: 1;
      top: 0;
      left: 0;
      width: 300%!important;
      height: $height;
      @include transform(translate3d(0, 0, 0));
      @include animation(loop 10s linear infinite);
    }

    > ul > li {
      @include center-vertically();
      @include justify(middle);
      float: left;
      width: 33.333333%;
      height: $height;
      overflow: hidden;
      margin: -12px 0 0;
      img {
        opacity: .3;
        margin: 0 1.66%;
      }
    }
  }
  .mrkt-collections {
    min-height: rem(50.4);
    background-color:  md-color($md-grey, 100);
    [layout] {
      max-height: rem(24.8);
    }
    .mrkt-collections__highlight {
      a {
        display: block;
        position: relative;
        height: rem(24);
        // max-height: rem(24);
        margin: 8px 8px 0 0;
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          @include background-image(linear-gradient(6deg, rgba(md-color($md-grey, 900),0.9), rgba(md-color($md-grey, 900),0) 50%));
          opacity: 0.6;
          @include transition(opacity 1.5s cubic-bezier(0.55, 0, 0.55, 0.2));
          z-index: 1;
        }
      }
      .mrkt-collections__highlight_img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        opacity: 1;
      }
      .mrkt-collections__highlight_content {
        color: $white-87-opacity;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 8px 8px 8px;
        z-index: 2;
      }
      &:nth-child(3n) a {
        margin-right: 0;
      }
      &:nth-child(1n) .mrkt-collections__highlight_img {
        height: 100%;
        width: 100%;
        @include background-image(url('../assets/img/highlights/dimoc.jpg'));
      }
      &:nth-child(2n) .mrkt-collections__highlight_img{
        @include background-image(url('../assets/img/highlights/ncaa_basketball.jpg'));
      }
      &:nth-child(3n) .mrkt-collections__highlight_img{
        @include background-image(url('../assets/img/highlights/jfk_historic.jpg'));
      }
      &:nth-child(4n) .mrkt-collections__highlight_img{
        @include background-image(url('../assets/img/highlights/masters_js.jpg'));
      }
      &:nth-child(5n) .mrkt-collections__highlight_img{
        @include background-image(url('../assets/img/highlights/nat_geo.jpg'));
      }
      &:nth-child(6n) .mrkt-collections__highlight_img{
        @include background-image(url('../assets/img/highlights/us_open.jpg'));
      }
    }
    @media screen and (max-width: $layout-breakpoint-xs) {
      [layout] {
        max-height: 100%;
      }
      .mrkt-collections__highlight {
        a {
          margin: 6px 6px 0 6px;
        }
        &:nth-child(3n) a {
          margin-right: 6px;
        }
        &:nth-child(6n) a {
          margin-bottom: 6px;
        }

      }
    }
  }
  
  .mrkt-call-to-action {
    min-height: 440px;
    background:  md-color($primary, darker)  url('../assets/img/bk/tex/bktx_dgl_lines_light.png');
    color: md-color($primary, darker-contrast);
    text-align: center;
  }
}

// this should go in some kind of glb scss file
.conversion {
  &[md-button] {
    font-size: 18px;
    min-width: 300px;
    padding: 4px 40px;
    // opacity: .8;
    background-color: md-color($accent, darker, .8);
    border: 1px solid transparent;
    @include transition($swift-ease-in);
    &:hover {
      border: 1px solid $white-87-opacity;
      background-color: md-color($accent, darker, .8);
      @include md-elevation(2);
    }
  }
}
.jw-icon.jw-watermark:before {
    display:none;
}
