<section class="tabs-section">
<md-tab-group [(selectedIndex)]="selectedTabIndex">
  <md-tab *ngFor="let tabLabelKey of tabLabelKeys; let i = index" [disabled]="!tabEnabled[i]">
    <template md-tab-label>{{ tabLabelKey | uppercase }}</template>

    <cart-tab-component *ngIf="tabLabelKey === 'cart'" (tabNotify)="onNotification($event)"></cart-tab-component>
    <review-tab-component *ngIf="tabLabelKey === 'review'" (tabNotify)="onNotification($event)"></review-tab-component>
    <billing-tab-component *ngIf="tabLabelKey === 'billing'" (tabNotify)="onNotification($event)"></billing-tab-component>
    <payment-tab-component *ngIf="tabLabelKey === 'payment'" (tabNotify)="onNotification($event)"></payment-tab-component>
    <confirm-tab-component *ngIf="tabLabelKey === 'confirm'" (tabNotify)="onNotification($event)"></confirm-tab-component>
  </md-tab>
</md-tab-group>
</section>