@include keyframes(jump) {
  0% {
    @include transform(scale(1));
  }

  30% {
    @include transform(scaleY(0.75));
  }

  40% {
    @include transform(scaleY(1.25));
  }

  60% {
    @include transform(scaleY(0.85));
  }

  100% {
    @include transform(scale(1));
  }
}

@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translateY(-100px));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeOutBottom) {
  0% {
    opacity: 1;
    @include transform(translateY(0));
  }
  100% {
    opacity: 0;
    @include transform(translateY(rem-calc(2000)));
  }
}

@include keyframes(fadeOutTop) {
  0% {
    opacity: 1;
    @include transform(height(auto)); 
  }
  100% {
    opacity: 0;
    @include transform(height(0));
  }
}


@include keyframes(grow) {
  0% {
    @include transform(scale(0));
  }
  100% {
    @include transform(scale(1));
  }
}
@include keyframes(scaleout) {
  0% {
    @include transform(scale(0));
  }
  100% {
    @include transform(scale(1));
    opacity: 0;
  }
}
@include keyframes(shrink) {
  0% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(0));
  }
}
@include keyframes(scaleY) {
  0% {
    @include transform(scaleY(1));
  }
  100% {
    @include transform(scaleY(0));
  }
}
// this is used for a processing spinner
@include keyframes(bounce) {
  0%, 100% {
    @include transform(scale(0));
  }
  50% {
    @include transform(scale(1));
  }
}
// this is used for a processing spinner - square that flips
@include keyframes(rotateplane) {
  0% { 
    @include transform(perspective(120px) rotateX(0deg) rotateY(0deg));
  }
  50% { 
    @include transform(perspective(120px) rotateX(-180.1deg) rotateY(0deg));
  } 
  100% { 
    @include transform(perspective(120px) rotateX(-180deg) rotateY(-179.9deg));
  }
}
@include keyframes(rotate360) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(scale(360deg));
  }
}
@include keyframes(spinner-bubble){
  from{
    width: 10px;
    height: 10px;
    opacity: .8;
  }
  to{
     width: 90px;
    height: 90px;
    opacity: 0;
  }
}

// @include keyframes(color-bubble){
//   0%{color: #009DDC;}
//   33%{color: #50B949;}
//   66%{color: #EE2D24;}
//   100%{color: #FEB825;}
// }

// @include keyframes(color-change){
//   0%{background: #009DDC;}
//   33%{background: #50B949;}
//   66%{background: #EE2D24;}
//   100%{background: #FEB825;}
// }

@include keyframes(rotate){
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(359deg));
  }
}
