$logo-c-rev: "/assets/img/logo/logo-c-rev.svg";
$logo-m-blk: "/assets/img/logo/logo-m-blk.svg";
$logo-m-rev: "/assets/img/logo/logo-m-rev.svg";

$logo-header: $logo-c-rev;
$logo-header-fixed: $logo-c-rev;
$logo-footer: $logo-m-rev;
$logo-home: $logo-m-rev;
$logo-simple-form: $logo-m-blk;

$bk-img-home: "/assets/img/bk/masters-js-2015.jpg";
$bk-img-user-management: "/assets/img/bk/user-management.jpg";
