<section class="login hero" #target *ngIf="config">
  <div *ngIf="firstTimeUser" layout="row" md-scroll-y="" layout-align="center center">
    <div flex-gt-lg="50" flex-gt-md="60" flex-gt-sm="75" flex="95" class="first-time-user">
      <p>{{ 'LOGIN.NEW_USER' | translate }}</p>
    </div> 
  </div>
  <div layout="row" md-scroll-y="" layout-align="center start">
    <div flex-gt-lg="30" flex-gt-md="40" flex-gt-sm="55" flex="100">
      <md-card class="wz-form-card">
        <md-card-header>
          <!--<div class="logo-wrapper">
            <div class="logo"></div>
          </div>-->
        </md-card-header>
        <md-card-title>
          {{ 'LOGIN.TITLE' | translate }}
        </md-card-title>
        <md-card-content>
          <wz-form [items]="config.form.items" submitLabel="LOGIN.FORM.SUBMIT_LABEL" (formSubmit)="onSubmit($event)"></wz-form>
          <div layout="column" layout-align="center center" class="md-body-2">
            <a md-button layout="row" flex [routerLink]="['/user/forgot-password']" color="primary">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
          </div>
        </md-card-content>
      </md-card>
      <div md-theme="docs-dark" layout="column" layout-align="start center" layout-wrap=""><span class="md-title">{{'LOGIN.GET_ACCOUNT' | translate }} <a md-button="" [routerLink]="['/user/register']" class="md-accent">{{'LOGIN.SIGN_UP' | translate }}</a></span></div>
    </div>
  </div>
</section>

<wz-dialog #termsDialog [clickCatcher]="false">
  <wz-terms [terms]="activeTos" (close)="agreeToTermsAndClose()"></wz-terms>
</wz-dialog>