wz-list {
  display: block;
  margin-bottom: 20px;
  table {
    background-color: #fff;
    border-collapse: collapse;
  }
  thead {
    th {
      padding: .5rem 1rem;
    }
  }
  tbody {
    text-align: center;
    tr {
      &.highlight {
        background-color: map_get($md-grey, 200);
      }
      td {
        padding: .8rem 1rem;
        .link {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
