profile-component .profile-head {
  color: md-color($md-primary, default);
  padding-left: rem(.8);
  padding-right: rem(.8);
  box-shadow: inset 0 -1px 0 0 md-color($md-foreground, divider), 0 1px 0 0 rgba(md-color($md-background, card), .6);
  header {
    padding-top: rem(1.6);
    padding-bottom: rem(.6);
    .md-display-1 {
      margin: 0;
      width: calc(100% - 120px);
      font-size: rem(2.6);
    }
  } 
  .tools {
    text-align: right;
    white-space: nowrap;
    button.is-dd.md-icon-button.md-primary {
      .md-button-wrapper::after {
        color: md-color($md-primary, default);
      }
    }
  }
  header div[flex="100"] > button[md-icon-button] {
    margin-right: rem(1.6);
  }
}

profile-component .md-primary.edit-basic {
  margin-top: rem(.6);
  margin-bottom: rem(-3.0);
  padding-left: rem(4.0);
  .material-icons {
    position: absolute;
    left:rem(1.0);
    top:rem(.3);
  }
}