collection-show .collection-head {
  background-color: rgba(md-color($background, card), .5);
  @include md-elevation(2);
  padding-left: rem(.8);
  padding-top: rem(1.1);
  padding-bottom: rem(1.1);
  padding-right: rem(.8);
}
collection-show .collections-list {
  ul {
    margin-top: 0;
  }
  li.collection {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    border-width: 0;
    @include transition($swift-ease-out);
    & > div[layout="row"] > div[layout-padding]:first-child {
      padding-left: 0;
      padding-top: rem(.4);
      padding-right: rem(1.6);
      padding-bottom: 0;
      @media screen and (max-width: $layout-breakpoint-sm) and (min-width: 0) and (orientation: portrait)  {
        padding-right: 0;
      }
    }
    & > div[layout="row"] > div[layout-padding]:last-child {
      padding: 0;
    }
    .actions {
      text-align: right;
    }
  }
}