.notification {
  animation-name: notification;
  animation-duration: 5s;
  animation-timing-function: linear;
  color:white;
  background-color: black;
  position: fixed;
  top: 0;
  right: 10%;
  height: 75px;
  z-index: 10000;
  width: 80%;
  text-align: center;
  -webkit-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 5px 5px 24px -1px rgba(56, 56, 56, 1);
  p {
    font-size: 20px;
  }
}

@keyframes notification {
  0% {
    top: -75px;
  }
  7% {
    top: 0px;
  }
  90% {
    top: 0px;
  }
  100% {
    top: -75px;
  }
}
