
<ul class="breadcrumbs" flex="100">
  <!--<li *ngIf="loading"><md-progress-circle mode="indeterminate"></md-progress-circle></li>-->
  <li *ngFor="let filter of activeFilters">
      <button *ngIf="filter.active" class="breadcrumb" md-button (click)="clearFilter(filter)" title="{{ 'SEARCH.BREADCRUMBS.CLEAR_SPECIFIC_FILTER_BTN_TITLE' | translate:{filterName:filter.name} }}">
        {{filter.name}} 
        <span *ngIf="filter.filterValue">
           - {{formattedValueFor(filter)}}
        </span>
        <md-icon>clear</md-icon>
      </button>
  </li>
  <li *ngIf="activeFilters.length > 0">
    <button md-button color="primary" class="breadcrumb-clear-all is-outlined" (click)="clearFilters()">
      {{ 'SEARCH.BREADCRUMBS.CLEAR_FILTERS_BTN_LABEL' | translate }}
    </button>  
  </li>
</ul> 
